.loading {
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-top: 4px solid rgb(197, 128, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* for the image of the homepage card */
.image-container {
    width: 200px;
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-size-image {
    width: 100%;
    /* Ensure the image fills the container horizontally */
    height: 100%;
    /* Ensure the image fills the container vertically */
    object-fit: cover;
    /* Stretch the image to cover the container */
}

#root {
    height: 100hv;
    background-image: url('../assest/images/bgforblog.png');
    background-size: cover;
    background-attachment: fixed;
    /* overflow-y: auto; */
}